@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@mixin text ($fs, $ff, $fw, $lh, $color) {
    font-size: $fs;
    font-family: $ff;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}

$itemBackgroundColor: #cccccc;
$footerTextColor: #888888;
$sitePaddingLeft: calc(50% - 585px);
$sitePaddingRight: calc(50% - 585px);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    padding-left: $sitePaddingLeft;
    padding-right: $sitePaddingRight;
}

.header {
    padding-top: 9px;
    background-color: #f6f6f6;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;

    &-left {
        &__link {
            text-decoration: none;
            @include text (11px, Merriweather Sans, 400, 19px, #7e7e7e);

            text-transform: uppercase;

            &_padding {
                padding-right: 39px;
            }

        }

        & :hover {
            color: #444444;
            transition-duration: 0.3s;
        }
    }

    &-right {
        display: flex;
        justify-content: right;
        gap: 29px;
    }

    &__under {
        background-color: #ffffff;
        align-items: baseline;

        &-left {
            display: flex;
            align-items: baseline;
            gap: 12px;

            &_name a {
                @include text (44px, Merriweather Sans, 700, 19px, #454545);
                text-decoration: none;

                &:hover {
                    font-family: Cousine;
                    font-size: 48px;
                    transition-duration: 0.3s;
                }
            }
        }

        &-right {
            display: flex;
            gap: 49px;

            &_item {
                @include text (14px, Cousine, 700, 19px, #565656);
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

nav {
    & a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
        @include text (11px, Merriweather Sans, 400, 19px, #7e7e7e);
        text-transform: uppercase;

        &:hover {
            background-color: #ffffff;
            color: #333333;
        }
    }

    & .header-item {
        position: relative;

        & .header-item__choose .header-item__choose_link {
            display: list-item;
            position: relative;
            padding-top: 9px;

            &:last-of-type {
                padding-bottom: 9px;
            }
        }

        &__choose {
            display: none;
            position: absolute;

            &_img {
                padding-right: 5px;
            }
        }

        & .header-item__choose_link {
            display: inline-block;
            padding-left: 5px;
            list-style: none;

            &:hover>.header-item__choose {
                display: inherit;
                background-color: #ffffff;
                border: 1px solid #bbbbbb;
            }
        }
    }
}

form {
    width: 292px;
    display: flex;
    align-items: center;
    justify-content: right;
}

input {
    padding: 4px 10px;
    border: 0;
    @include text (13px, Merriweather Sans, 400, 19px, #666666);
}

.form {
    display: flex;
    justify-content: right;
    padding-right: $sitePaddingRight;
    padding-top: 16px;

    &-search {
        width: 75%;
        height: 32px;
        border: 1px solid #e1e1e1;
        background-color: #ffffff;
        border-right: none;

        &::placeholder {
            @include text (13px, Merriweather Sans, 100, 19px, $footerTextColor);
        }
    }

    &-img {
        width: 32px;
        height: 32px;
        border: 1px solid #e1e1e1;
        border-left: none;
        display: flex;
        align-items: center;
        padding-left: 5px;
        cursor: pointer;

        &:hover {
            background-color: #e1e1e1;
        }

        &-link {
            display: flex;
            padding-left: 2px;
        }
    }
}

.main-banner {
    background-color: $itemBackgroundColor;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left-img_grid {
        width: 39px;
        height: 39px;

        &_footer {
            width: 20px;
            height: 20px;
        }
    }

    &-left,
    &-right {
        position: relative;

        &_footer {
            text-decoration: none;
        }

        &-pointer {
            position: absolute;
            left: 19px;
            top: 15px;
            fill: #ffffff;

            &_grid {
                left: 15px;
                top: 12px;
            }

            &_footer {
                left: 7px;
                top: 0px;
            }
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        padding-top: 378px;
        padding-bottom: 343px;
        text-transform: uppercase;
        padding-left: 400px;

        & h2:first-of-type {
            @include text (30px, Cousine, 700, 45px, #555555);
        }

        & h1 {
            @include text (100px, Merriweather Sans, 800, 80px, #ffffff);
            padding-top: 19px;
            padding-bottom: 18px;
        }

        & h2 {
            @include text (35px, Roboto Condensed, 700, 33px, #4c4c4c);

        }

        & a {
            @include text (14px, Merriweather Sans, 700, 21px, #333333);
            padding-top: 29px;
            text-decoration: none;

            &:hover {
                color: #cf4647;
                transition-duration: 0.3s;
            }
        }
    }

    &__slider {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 20px;

        &_block-4 {
            padding-top: 26px;
        }

        &-item {
            width: 14px;
            height: 14px;
            cursor: pointer;

            & path:hover {
                fill: #ffffff;

            }
        }
    }
}

.advertising {
    padding-left: $sitePaddingLeft;
    padding-right: $sitePaddingRight;
    background-color: #f3f3f3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 43fr repeat(2, 25fr);
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.item {
    background-color: $itemBackgroundColor;

    &_1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    &_2 {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    &_4 {
        grid-area: 2 / 2 / 4 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_5 {
        grid-area: 1 / 3 / 3 / 4;
    }

    &_6 {
        grid-area: 3 / 3 / 4 / 4;
    }

    &__slider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 110px 30px 79px 30px;
    }

    &__info {
        padding: 72px 30px;
        border: 1px solid rgba(255, 255, 255, 0.29);

        &_block-1 {
            margin-bottom: 20px;
        }

        & h2 {
            @include text (40px, Cousine, 700, 40px, #ffffff);
            text-transform: uppercase;
        }

        & p {
            padding-top: 19px;
            @include text (25px, Roboto Condensed, 400, 40px, #ffffff);
            text-transform: uppercase;
            text-align: center;
        }

        &_block-2 {
            border: none;

            & h2 {

                @include text (40px, Merriweather Sans, 700, 22px, #ffffff);
                text-transform: uppercase;
                text-align: center;
            }

            & p {
                padding-top: 19px;
                @include text (23px, Roboto Condensed, 700, 22px, #ffffff);
                text-transform: uppercase;
                text-align: center;

            }
        }

        &_block-3,
        &_block-4,
        &_block-5 {
            border: none;
            padding-left: 0;
            padding-right: 0;
            margin-top: 30px;

            & h2 {
                @include text (30px, Merriweather Sans, 800, 22px, #ffffff);
                text-transform: uppercase;
                text-align: center;
            }

            & p {
                padding-top: 19px;
                @include text (25px, Roboto Condensed, 400, 22px, #ffffff);
                text-transform: uppercase;
                text-align: center;
            }
        }

        &_block-4 {
            padding-top: 212px;

            & h2 {
                @include text (35px, Roboto Condensed, 400, 22px, #ffffff);
                text-transform: uppercase;

                &:last-of-type {
                    @include text (30px, Cousine, 700, 40px, #ffffff);
                }
            }

            &_women {
                padding-top: 19px;
                padding-bottom: 8px;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            & p {
                @include text (18px, Cousine, 700, 40px, #ffffff);
                padding-top: 0;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        &_block-5 {
            margin-top: -40px;

            & p {
                @include text (18px, Cousine, 700, 40px, #2f2f2f);
            }

            & h2 {
                @include text (25px, Merriweather Sans, 800, 40px, #333333);
                text-transform: uppercase;

                &:last-of-type {
                    @include text (20px, Roboto Condensed, 700, 40px, #333333);

                }
            }
        }

        &_block-6 {
            border: none;
            text-align: center;
            padding-top: 143px;

            & h2 {
                @include text (30px, Roboto Condensed, 700, 22px, #ffffff);
            }
        }
    }

    &__more {
        text-align: center;

        &_link {
            text-decoration: none;
            @include text (14.1px, Merriweather Sans, 700, 21px, #ffffff);
            text-transform: uppercase;

            & span {
                margin-left: 5px;
            }

            &:hover {
                color: #cf4647;
                transition-duration: 0.3s;
            }

            &_footer-block-1 {
                padding-top: 15px;
                @include text (12px, Merriweather Sans, 700, 20px, #b6b6b6);

                &:hover {
                    color: #ffffff;
                    transition-duration: 0.3s;
                }
            }

            &_footer-block-3 {
                padding-top: 0;
                text-align: left;
            }
        }

        &_block-4 {
            padding-top: 104px;
        }

        &_block-5 {
            padding-top: 523px;
        }


    }

}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 70px;

    &__item {
        text-decoration: none;
        @include text(16px, Merriweather Sans, 700, 19px, #999999);
        padding-bottom: 4px;
        border-bottom: 2px solid #ffffff;

        &:hover {
            color: #444444;
            border-bottom: 2px solid #444444;
            transition-duration: 0.5s;
        }
    }
}

.products {
    padding-top: 44px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    row-gap: 30px;
    column-gap: 30px;

    &__item {
        &_banner {
            position: relative;

            &_content {
                position: absolute;
                top: 10px;
                left: -3px;
                border: 3px solid #cf4647;
                width: 80px;
                height: 30px;
                @include text (17px, Arial, 900, 17px, #cf4647);
                text-align: center;
                padding-top: 3px;

                &_2 {
                    color: #524656;
                    border-color: #524656;
                    font-weight: 700;
                    padding-top: 4px;
                }

                &_3 {
                    width: 90px;
                    height: 42px;
                    color: #999999;
                    border-color: #999999;
                    font-weight: 700;
                    line-height: 12px;
                    text-transform: uppercase;
                    text-align: center;
                    padding-top: 7px;
                }
            }
        }

        &_color {
            position: absolute;
            bottom: 10px;
            left: 10px;

            &-1:hover,
            &-2:hover,
            &-3:hover {
                filter: opacity(30%);
                transition-duration: 0.5s;
            }

            & a {
                text-decoration: none;
            }

        }

        &_info {
            padding-top: 24px;
            display: flex;
            justify-content: space-between;
            align-items: self-start;

            &-name {
                @include text (13px, Merriweather Sans, 400, 19px, #444444);
            }

            &-price {
                @include text (15px, Cousine, 700, 17px, #222222);

                &_discount {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;

                    & p:first-of-type {
                        color: #999999;
                        text-decoration: line-through;
                    }
                }
            }
        }

        &_bag {
            display: flex;
            justify-content: space-around;
            border: 2px solid #444444;
            padding-top: 9px;
            padding-bottom: 9px;
            margin-top: 9px;

            & a {
                @include text (14px, Merriweather Sans, 700, 17px, #222222);
                text-transform: uppercase;
                text-decoration: none;

                &:hover {
                    color: #cf4647;
                    transition-duration: 0.3s;
                }
            }
        }

        &_wishlist {
            display: flex;
            justify-content: space-between;
            padding-top: 8px;

            & a {
                @include text (13px, Merriweather Sans, 400, 17px, #333333);
                font-style: italic;
                text-decoration: none;

                &:hover {
                    color: #555555;
                    transition-duration: 0.3s;
                }
            }
        }

        &_stars {
            padding-top: 6px;

            // &-1:hover,
            // &-2:hover,
            // &-3:hover,
            // &-4:hover {
            //     filter: opacity(35%);
            //     transition-duration: 0.3s;
            // }

            & a {
                text-decoration: none;

            }
        }
    }
}

.button-more {
    padding: 60px $sitePaddingRight 112px $sitePaddingLeft;

    text-align: center;
    overflow: hidden;

    &__button {


        &:before {
            margin-left: -100%;
        }

        &:after {
            margin-right: -100%;
        }

        &:before,
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 100%;
            height: 1px;
            background: #dddddd;

        }
    }

    & a {
        text-decoration: none;
        @include text (14px, Merriweather Sans, 700, 17px, #555555);
        padding: 10px 20px 9px 20px;

        &:hover {
            border: 1px solid #dddddd;
            color: #444444;
            transition-duration: 0.3s;
        }
    }
}

// FOOTER

.footer {
    background-color: #1f1f1f;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__contacts {
        padding-top: 37px;
        padding-bottom: 35px;
        background-color: #1f1f1f;
        display: flex;
        justify-content: space-between;

        &_left {
            display: flex;
            flex-direction: column;
            gap: 9px;

            &_cards {
                display: flex;
                gap: 14px;

            }

            &_powered {
                @include text (12px, Arial, 400, 18px, #666666);
            }
        }

        &_right {
            display: flex;
            align-items: center;
            gap: 5px;

            &_facebook,
            &_twitter,
            &_wifi,
            &_discord,
            &_linkedin,
            &_flickr,
            &_skype,
            &_mail {
                border: 2px solid #999999;
            }

            &_facebook {
                padding: 10px 16px 12px 15px;
                border: 2px solid #999999;

                &:hover {
                    background-color: #3b5a9a;
                }

                
            }

            &_twitter {
                padding: 10px 14px 12px 15px;
                &:hover {
                    background-color: #67b5d3;
                }
            }

            &_wifi {
               padding: 11px 10px 11px 10px; 
               &:hover {
                background-color: #e78c2f;
            }
            }

            &_discord {
                padding: 11px 9px 11px 9px;
                &:hover {
                    background-color: #3b5a9a;
                }
            }

            &_linkedin {
                padding: 11px 11px 11px 12px;
                &:hover {
                    background-color: #4975b6;
                }
            }

            &_flickr {
                padding: 11px;
                &:hover {
                    background-color: #b6457a;
                }
            }

            &_skype {
                padding: 11px;
                &:hover {
                    background-color: #3da5cc;
                }
            }

            &_mail {
                padding: 11px;
                &:hover {
                    background-color: #dd4b4b;
                }
            }
        }
    }
}

.block {

    &-1 {
        grid-area: 1 / 1 / 4 / 6;
        padding-bottom: 60px;
    }

    &-2 {
        grid-area: 4 / 1 / 7 / 6;
    }

    &-3 {
        grid-area: 7 / 1 / 11 / 6;
    }

    &-4 {
        grid-area: 11 / 1 / 13 / 6;
    }

    &-5 {
        grid-area: 1 / 6 / 5 / 10;
        border-bottom: 1px dashed #2a2a2a;
    }

    &-6 {
        grid-area: 5 / 6 / 9 / 10;
        border-bottom: 1px dashed #2a2a2a;
    }

    &-7 {
        grid-area: 9 / 6 / 13 / 10;
        border-bottom: 1px dashed #2a2a2a;
    }

    &-8 {
        grid-area: 1 / 10 / 4 / 13;
    }

    &-9 {
        grid-area: 4 / 10 / 7 / 13;
    }

    &-10 {
        grid-area: 7 / 10 / 10 / 13;
    }

    &-11 {
        grid-area: 10 / 10 / 13 / 13;
    }

    &-1,
    &-2,
    &-3,
    &-4 {
        padding-right: 24px;
        border-bottom: 1px dashed #2a2a2a;
    }

    &-5,
    &-6,
    &-7 {
        padding-left: 24px;
        padding-right: 24px;
        border-left: 1px dashed #2a2a2a;
        border-right: 1px dashed #2a2a2a;
    }

    &-8,
    &-9,
    &-10,
    &-11 {
        padding-left: 24px;
        border-bottom: 1px dashed #2a2a2a;
    }



    &__name {
        @include text (17px, Cousine, 400, 40px, #b6b6b6);
        text-transform: uppercase;
        padding-bottom: 34px;
        padding-top: 60px;

        &_block-1 {
            margin-top: 30px;
        }

        &_block-5 {
            margin-top: 30px;
        }

        &_block-8 {
            margin-top: 30px;
        }

        &_slider {
            display: flex;
            justify-content: space-between;

            &_block-5 {
                gap: 0;
                justify-content: space-between;
            }
        }

        &_block-6 {
            &_button {
                &_link {
                    @include text (12.1px, Cousine, 400, 26px, #b5b5b5);
                    text-decoration: none;
                    border: 1px solid #b5b5b5;
                    padding: 6px 11px 7px 11px;

                    &:hover {
                        background-color: #b5b5b5;
                        color: #1f1f1f;
                        transition-duration: 0.3s;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        &_flex {
            display: flex;
            flex-direction: column;
            align-items: first baseline;

            &_block-2 {
                & p {
                    padding-top: 20px;
                    @include text (13px, Cousine, 400, 20px, #999999);
                    text-transform: uppercase;
                }
            }

            &_block-3 {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 20px;

                &_left {
                    &_img {
                        position: relative;
                    }

                    &_svg {
                        position: absolute;
                        left: 90px;
                        top: 25px;
                    }

                    &_name {
                        position: absolute;
                        @include text (20px, Merriweather Sans, 700, 19px, #1f1f1f);
                        text-transform: uppercase;
                        top: 50px;
                        left: 120px;
                    }
                }

                &_right {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &_name input,
                    &_mail input,
                    &_message input {
                        width: 127%;
                        background-color: #1f1f1f;
                        border: 1px solid #666666;
                    }

                    &_message input {
                        height: 135px;
                        box-sizing: border-box;
                    }

                    &_mail_block-4 {
                        display: flex;
                        align-items: center;
                        padding-top: 10px;

                        & input {
                            height: 50px;
                            width: 100%;
                            border-right: none;
                        }

                        &_icon {
                            background-color: #1f1f1f;
                            padding-top: 16px;
                            padding-bottom: 15px;
                            border: 1px solid #666666;
                            border-left: none;
                            padding-right: 20px;
                            color: $footerTextColor;
                        }
                    }

                    &_name input::placeholder,
                    &_mail input::placeholder,
                    &_message input::placeholder {
                        @include text (12px, Cousine, 400, 22px, $footerTextColor);
                        text-transform: uppercase;
                    }

                    &_message input::placeholder {
                        transform: translateY(-50px);
                    }
                }
            }

            &_block-5 {
                justify-content: space-between;

                &_info {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;


                    &_name p {
                        @include text (12px, Merriweather Sans, 400, 18px, $footerTextColor);
                        padding-top: 19px;
                    }

                    &_price {
                        @include text (14px, Cousine, 400, 17px, #ffffff);
                        padding-left: 30px;

                        &_discount {
                            font-family: Cousine;
                        }
                    }
                }
            }
        }

        &_block-6 {

            &_padding {
                padding-top: 44px;
            }

            &__user {
                display: flex;
                gap: 20px;

                &_name p {
                    @include text (17.1px, Roboto Condensed, 400, 18px, #b1b1b1);

                    &:last-of-type {
                        @include text (13.1px, Arial, 400, 18px, #777777);
                    }
                }
            }

            &__info {
                padding-top: 23px;
                @include text (14.1px, Arial, 400, 20px, $footerTextColor);

                & a {
                    color: #cccccc;
                    text-decoration: none;
                }
            }

            &__social {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 18px;

                & p {
                    @include text (13.1px, Arial, 400, 26px, #666666);
                }

                &_right {
                    display: flex;
                    flex-direction: row;

                    gap: 20px;

                    & a {
                        text-decoration: none;
                    }

                    &_reply,
                    &_retweet {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
        }

        &_block-7 {

            @include text (14px, Arial, 400, 18px, $footerTextColor);
            letter-spacing: -0.025em;

            & span {
                color: #cccccc;
            }

            &_grid {
                padding-top: 32px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                row-gap: 23px;
                column-gap: 23px;

                &_item {
                    border: 5px solid #2f2f2f;
                }
            }
        }

        &__right {

            display: flex;
            flex-direction: column;
            gap: 5px;

            & a {
                @include text (14px, Arial, 400, 31px, $footerTextColor);
                text-decoration: none;
            }
        }

        &_text {
            @include text (14px, Arial, 400, 18.7px, $footerTextColor);
        }
    }
}